.services {
  margin: 60px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.service img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.service {
  flex-basis: 31%;
  position: relative;
}

.service-name {
  font-size: large;
}

.service:hover, .service:focus {
  font-size: large;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}

.service:hover .caption {
  opacity: 1;
  padding-top: 0;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 60%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #666;
}

.close:hover {
  color: #000;
}

.modal-layout {
  margin: 30px 30px;
}

.ielts .short-text,
.general-eng .short-text,
.business-eng .short-text {
  display: none;
}

@media (max-width: 650px) {
  .services {
    flex-direction: column;
  }
  .service {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .ielts .short-text,
  .general-eng .short-text,
  .business-eng .short-text {
    display: none;
  }
  .ielts .full-text,
  .general-eng .full-text,
  .business-eng .full-text {
    display: inline;
  }
}

@media (min-width: 651px) and (max-width: 912px) {
  .ielts .full-text {
    display: none;
  }
  .ielts .short-text {
    display: inline;
  }
  .general-eng .full-text {
    display: inline;
  }
  .general-eng .short-text {
    display: none;
  }
  .business-eng .full-text {
    display: inline;
  }
  .business-eng .short-text {
    display: none;
  }
}

@media (min-width: 913px) {
  .ielts .full-text {
    display: inline;
  }
  .ielts .short-text {
    display: none;
  }
  .general-eng .full-text {
    display: inline;
  }
  .general-eng .short-text {
    display: none;
  }
  .business-eng .full-text {
    display: inline;
  }
  .business-eng .short-text {
    display: none;
  }
}
